<footer>

  <a href="https://developer.mozilla.org">
    <i class="fa fa-linkedin" aria-hidden="true" ></i>
  </a>
  <a href="https://angular.io">
    <i class="fa fa-github" aria-hidden="true"></i>
  </a>
  <a href="https://github.com/jeliozver">
    <i class="fa fa-envelope" aria-hidden="true"></i>
  </a>
  <a href="https://github.com/jeliozver">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>

<ul class="copyright">
  <li id="cr">&copy; Copyright 2022 TBB </li>
</ul>

 
</footer>